# Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

.idea/
.nextflow*/
.vscode/
bin/scratch/
containers/cache/
containers/images/
data/
scratch/
venv/
work/

*.bak*
.RData
.nextflow.log*
stage_data*.sh
sync.sh
