// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    cpus          = 1
    cache         = 'deep'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 10.GB
    }
    withLabel:process_medium {
        cpus   = 10
        memory = 100.GB
    }
    withLabel:process_high {
        cpus   = 32
        memory = 480.GB
    }
    withLabel:process_very_high {
        cpus   = 128
        memory = 1000.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 5
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
    runOptions = "-B $TMPDIR:/tmp --env TMPDIR=/tmp --cleanenv"
}
