// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    cpus          = 1
    cache         = 'deep'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 10.GB
    }
    withLabel:process_medium {
        cpus   = 10
        memory = 100.GB
    }
    withLabel:process_high {
        cpus   = 32
        memory = 480.GB
    }
    withLabel:process_very_high {
        cpus   = 128
        memory = 1000.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 5
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
    runOptions = "-B $TMPDIR:/tmp --env TMPDIR=/tmp --cleanenv"
}


// TODO: remove me!
process {
    withName: 'NFCORE_HIC:HIC:HICPRO:HICPRO_MAPPING:BOWTIE2_ALIGN' {
        cpus = 20
        time = 48.h
    }
    withName: 'NFCORE_HIC:HIC:FASTQC' {
        cpus = 2
        time = 48.h
    }
    withName: 'NFCORE_HIC:HIC:HICPRO:HICPRO_MAPPING:COMBINE_MATES' {
        time = 24.h
    }
    withName: 'NFCORE_HIC:HIC:HICPRO:GET_VALID_INTERACTION' {
        time = 24.h
    }
    withName: 'NFCORE_HIC:HIC:HICPRO:HICPRO2PAIRS' {
        time = 24.h
    }
}
