// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    cpus          = 1
    cache         = 'deep'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 4.GB
    }
    withLabel:process_medium {
        cpus   = 4
        memory = 8.GB
    }
    withLabel:process_high {
        cpus   = 8
        memory = 32.GB
    }
    withLabel:process_very_high {
        cpus   = 16
        memory = 64.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 5
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
}
