// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    mcools = "${data_dir}/output/nfcore_hic/mcools/*.mcool"
    tads = "${data_dir}/output/tad_analysis/tads/*_domains.bed.gz"

    cytoband = "${data_dir}/input/GRCh38_cytoband.txt.gz"
    assembly_gaps = "${data_dir}/input/GRCh38_assembly_gaps.txt.gz"

    outdir = "${data_dir}/data/output/cliques/"
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
}
