// Copyright (C) 2023 Saleh Oshaghi <mohao@uio.no>
//
// SPDX-License-Identifier: MIT

params {

    data_files = "data"
    outdir = "${data_files}/output/chrom3d"

    domains = "${data_files}/output/chrom3d/cliques/*_T1_all_domains.bed.gz"
    cliques = "${data_files}/output/chrom3d/cliques/*_T1_all_cliques.tsv.gz"
    //input = "${data_files}/output/chrom3d/cliques/*_all_cliques.tsv.gz"
    translocation = "${data_files}/input/translocations/*C1_translocations.bed"

    lads = "${data_files}/input/nfcore_chipseq_samplesheets/MCF10A_LMNB1_peaks.bed"
    cytoband = "${data_files}/input/hg38/hg38_cytoBand.txt.gz"
    gaps = "${data_files}/input/hg38/hg38_assembly_gaps.txt.gz"
    chr_sizes = "${data_files}/input/hg38/hg38.chrom.sizes"
    bin_size = 2000000
    N = 1
    L = 1
    r = 3.0

}

process {
    container = 'docker.io/library/chrom3d:latest'
}
