// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    output_dir = "${data_dir}/output/chrom3d/"

    tads = "${data_dir}/output/tad_analysis/ICE/*_merged_domains.bed.gz"
    significant_interactions = "${outdir}/cliques/*_merged_clique_interactions.bedpe"

}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
}
