// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/compartment_analysis"

    mcools = "${data_dir}/output/nfcore_hic/mcools/GRCh38_00?*.mcool"
    resolutions = '10000,20000,50000,100000,200000,500000'

    ref_genome_name = 'hg38'
    ref_genome_fa = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}.fa.gz"
    ref_gene_gtf = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}.gtf.gz"
    assembly_gaps = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}_assembly_gaps.txt.gz"
    cytoband = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}_cytoband.txt.gz"

    dchic_sample_file = "${input_dir}/dchic/wt_vs_t1_vs_c1.tsv"
    dchic_seed = 123
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/dchic:d4eb244'

    withName:generate_blacklist {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/bedtools:2.30.0'
    }
    withName:filter_fna {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/samtools:1.17'
    }
    withName:filter_gtf {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/bedtools:2.30.0'
    }
    withName:generate_subcompartment_transition_report {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
    }
    withName:plot_subcompartment_coverage {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
    }
}
