// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    output_dir = "${data_dir}/output/comparative_analysis/hic/"

    mcools_by_sample = [
        ['MCF10A_WT_REP1', "${data_dir}/output/nfcore_hic/mcools/hg38_001*.mcool"],
        ['MCF10A_WT_REP2', "${data_dir}/output/nfcore_hic/mcools/hg38_002*.mcool"],
        ['MCF10A_T1_REP1', "${data_dir}/output/nfcore_hic/mcools/hg38_003*.mcool"],
        ['MCF10A_T1_REP2', "${data_dir}/output/nfcore_hic/mcools/hg38_004*.mcool"],
        ['MCF10A_C1_REP1', "${data_dir}/output/nfcore_hic/mcools/hg38_005*.mcool"],
        ['MCF10A_C1_REP2', "${data_dir}/output/nfcore_hic/mcools/hg38_006*.mcool"],
    ]

    mcools_by_condition = [
        ['MCF10A_WT', "${data_dir}/output/nfcore_hic/mcools/hg38_MCF10A_WT*.mcool"],
        ['MCF10A_T1', "${data_dir}/output/nfcore_hic/mcools/hg38_MCF10A_T1*.mcool"],
        ['MCF10A_C1', "${data_dir}/output/nfcore_hic/mcools/hg38_MCF10A_C1*.mcool"],
    ]

    plot_pretty_labels = 'MCF10A rep.1,MCF10A rep.2,MCF10AT1 rep.1,MCF10AT1 rep.2,MCF10CA1a rep.1,MCF10CA1a rep.2'

    hicrep_bin_size = 10000
    hicrep_h = 20

    maxhic_bin_size = 10000

    hint_cnv_profiles = [
        ['MCF10A_WT', "${data_dir}/output/structural_variants/hint_cnv/*WT_merged.tar.gz"],
        ['MCF10A_T1', "${data_dir}/output/structural_variants/hint_cnv/*T1_merged.tar.gz"],
        ['MCF10A_C1', "${data_dir}/output/structural_variants/hint_cnv/*C1_merged.tar.gz"],
    ]

    cnv_balancing_resolution = 50000
    cnv_balancing_chromosomes = 'chr8,chr10'
}

process {
    withName:extract_chrom_sizes_from_mcool {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/cooltools:0.5.4'
    }
    withName:run_hicrep {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hicrep:0.2.6'
    }
    withName:plot_scc {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
    }
    withName:run_maxhic {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/maxhic:b553b8f'
    }
    withName:merge_hint_cnv_profiles {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/pyutils:1.0.1'
    }
    withName:balance_with_loic {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hic-balancing:1.0.1'
    }
    withName:balance_with_caic {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hic-balancing:1.0.1'
    }
}
