// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    output_dir = "${data_dir}/output/comparative_analysis/"

    condition_labels = ['MCF10A', 'MCF10AT1', 'MCF10CA1a']
    repl_labels = ['MCF10A_REP1', 'MCF10A_REP2', 'MCF10AT1_REP1', 'MCF10AT1_REP2', 'MCF10CA1a_REP1', 'MCF10CA1a_REP2']
    resolutions = [10000, 20000, 50000, 100000, 200000, 500000]

    subcompartment_bedgraph_template = "${data_dir}/output/compartment_analysis/{{resolution}}/MCF10A_WT_T1_C1_{{resolution}}.subcompartments.bedGraph.gz"
    subcomp_marker_file_table = "${data_dir}/input/subcompartment_heatmap_file_table.tsv"

    tads = "${data_dir}/output/cliques/wo_masking/repl/cliques/hg38_*_cis_domains.bed.gz"
    cliques = "${data_dir}/output/cliques/wo_masking/repl/cliques/hg38_*_cis_cliques.tsv.gz"
    subcomp_clique_labels = ['MCF10A_WT', 'MCF10A_WT', 'MCF10A_T1', 'MCF10A_T1', 'MCF10A_C1', 'MCF10A_C1']

    lads_folder = "${data_dir}/input/lads/"
    nfcore_chip_folder = "${data_dir}/output/nfcore_chipseq/"

    hdbscan_min_cluster_size = 100
    hdbscan_min_samples = 5
    hdbscan_cluster_selection_method = 'leaf'
    hdbscan_dist = 'euclidean'

    expression_table_tpm = "${data_dir}/output/nfcore_rnaseq/star_salmon/salmon.merged.gene_tpm.tsv"
    rnaseq_design_table = "${data_dir}/input/rnaseq/nfcore_rnaseq_design.tsv"
    gtf = "${data_dir}/input/hg38/hg38_gencode_v43.gtf.gz"

    deg_table = "${data_dir}/output/diff_expression_analysis/star_salmon_gene/lfc_2.0/*.tsv.gz"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/comparative-analysis:1.0.0'
}
