// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/compartment_analysis"
    script_dir = '/scripts'

    mcools = "${data_dir}/output/nfcore_hic/mcools/*.mcool"
    resolution = 100000

    ref_genome_name = 'hg38'
    ref_genome = "${data_dir}/output/preprocessing/assemblies/GRCh38_genome_assembly.fna"
    dchic_sample_files = "${input_dir}/dchic/*.tsv"
}

process {
    container = 'ghcr.io/paulsengroup/2022-david-hic/cooltools:0.5.1'

    withName:preproc_data_for_dchic {
        container = 'ghcr.io/paulsengroup/2022-david-hic/dchic:a249b5d'
    }
    withName:run_dchic {
        container = 'ghcr.io/paulsengroup/2022-david-hic/dchic:a249b5d'
    }
    withName:make_alluvial_plots {
        container = 'ghcr.io/paulsengroup/2022-david-hic/plotting:1.0.0'
    }

}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts:${params.script_dir}:ro"
}
