// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/structural_variants"

    mcools = "${data_dir}/output/nfcore_hic/mcools/hg38*_merged.mcool"
    nfcore_hic_samplesheet = "${data_dir}/input/nfcore_hic_samplesheet.csv"
    alignment_dir = "${data_dir}/output/nfcore_hic/alignments"

    ref_genome_name = 'hg38'
    reference_genome = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}.filtered.fa"
    blacklist = "${data_dir}/input/${ref_genome_name}/${ref_genome_name}_blacklist.bed.gz"

    hictrans_resolution = 10000

    hint_resolution = 50  // kb
    hint_refzip = "${data_dir}/input/hint/refData_${ref_genome_name}.zip"
    hint_backdirzip = "${data_dir}/input/hint/backgroundMatrices_${ref_genome_name}.zip"
    restriction_enzymes = 'DpnII HindIII'
    restriction_enzymes_alias = 'arima'

    hic_breakfinder_quality_score = 30
    hic_breakfinder_expected_intra = "${data_dir}/input/hic_breakfinder/intra_expect_100kb.${ref_genome_name}.txt"
    hic_breakfinder_expected_inter = "${data_dir}/input/hic_breakfinder/inter_expect_1Mb.${ref_genome_name}.txt"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hictrans:e26ad6a'
    withName:run_hictrans {
        memory = 40.GB
    }
    withName:digest_genome_for_hint {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hint:2.2.8'
    }
    withName:run_hint_cnv {
        memory = 6.GB
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hint:2.2.8'
    }
    withName:run_hint_tl {
        memory = 40.GB
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hint:2.2.8'
    }
    withName:filter_mappings {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/samtools:1.17'
    }
    withName:merge_bams {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/samtools:1.17'
    }
    withName:run_hic_breakfinder {
        memory = 165.GB
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hic-breakfinder:30a0dcc'
    }
}
