// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/diff_expression_analysis"

    design_table = "${data_dir}/input/rnaseq/nfcore_rnaseq_design.tsv"
    count_matrix = "${data_dir}/output/nfcore_rnaseq/star_salmon/salmon.merged.gene_counts.tsv"

    lfc_cutoffs = [0.0, 0.1, 0.25, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/diff-expression-analysis:1.0.0'
}
