// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/diff_expression_analysis"

    control_to_sample_mappings = "${data_dir}/input/control_to_sample_mappings.tsv"
    gene_count_matrix = "${data_dir}/output/nfcore_rnaseq/star_salmon/salmon.merged.gene_counts.tsv"
    transcript_count_matrix = "${data_dir}/output/nfcore_rnaseq/star_salmon/salmon.merged.transcript_counts.tsv"

    elixir_gost_lfc_lb = '-1.0,-2.0,-3.0,-4.0,-5.0'
    elixir_gost_lfc_ub = '1.0,2.0,3.0,4.0,5.0'
    elixir_gost_pval = '0.01,0.01,0.01,0.01,0.01'
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/diff-expression-analysis:1.0.0'
    withName:run_elixir_gost {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/functional-analysis:1.0.0'
    }
    withName:run_go_figure {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/functional-analysis:1.0.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
