// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    download_list = 'data/download_list.txt'
    checksums = 'data/checksums.sha256'

    data_dir = 'data'
    output_dir = "$data_dir/input"
    download_dir = "$data_dir/downloads"
}

process {
    container = 'docker://ghcr.io/paulsengroup/2022-david-hic/utils:1.0.1'
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}