// Copyright (C) 2024 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input/raw_data/fish/fish_db"
    output_dir = "${data_dir}/output/fish"

    images = [
        ['ASC_AD', "${input_dir}/ASC_AD/*.png"],
        ['ASC_AE', "${input_dir}/ASC_AE/*.png"],
        ['MCF10A_WT_AD', "${input_dir}/MCF10A_WT_AD/*.png"],
        ['MCF10A_WT_AE', "${input_dir}/MCF10A_WT_AE/*.png"],
        ['MCF10A_WT_BE', "${input_dir}/MCF10A_WT_BE/*.png"],
        ['MCF10A_C1_AD', "${input_dir}/MCF10A_C1_AD/*.png"],
        ['MCF10A_C1_AE', "${input_dir}/MCF10A_C1_AE/*.png"]
    ]

    num_green_blobs = [
        ['ASC_AD', 2],
        ['ASC_AE', 2],
        ['MCF10A_WT_AD', 2],
        ['MCF10A_WT_AE', 2],
        ['MCF10A_WT_BE', 2],
        ['MCF10A_C1_AD', 7],
        ['MCF10A_C1_AE', 2]
    ]

    num_red_blobs = [
        ['ASC_AD', 2],
        ['ASC_AE', 2],
        ['MCF10A_WT_AD', 2],
        ['MCF10A_WT_AE', 2],
        ['MCF10A_WT_BE', 2],
        ['MCF10A_C1_AD', 6],
        ['MCF10A_C1_AE', 6]
    ]

    overlap_cfx_cutoff = 0.95
    contour_padding = 10
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/image-analysis:1.0.0'
}
