// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'

    input = "${data_dir}/input/nfcore_chipseq_samplesheets/nfcore_chipseq_h3kxxme_samplesheet.csv"
    outdir = "${data_dir}/output/nfcore_chipseq/h3kxxme"
    fasta = "${data_dir}/output/preprocessing/assemblies/hg38_genome_assembly.fna"
    gtf = "${data_dir}/output/preprocessing/annotations/hg38_gencode_v43.gtf"
    macs_gsize = 2636580800  // Computed with unique-kmers.py from khmer v2.1.1 (using -k 40)

    schema_ignore_params = 'data_dir,clusterOptions,project'
}
