// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'

    input = "${data_dir}/input/nfcore_nascent_samplesheet.csv"
    outdir = "${data_dir}/output/nfcore_nascent/"
    assay_type = "PROseq"
    fasta = "${data_dir}/output/preprocessing/assemblies/hg38_genome_assembly.fna"
    gtf = "${data_dir}/output/preprocessing/annotations/hg38_gencode_v43.gtf"

    schema_ignore_params = 'data_dir,clusterOptions,project'
}

process {
    withName:PINTS_CALLER {
        time = "24h"
    }
}
