// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    grch38_assembly_name_short = 'GRCh38'

    fasta = "${data_dir}/output/preprocessing/assemblies/${grch38_assembly_name_short}_genome_assembly.fna"
    chromosome_size = "${data_dir}/output/preprocessing/chrom_sizes/${grch38_assembly_name_short}.chrom.sizes"
    restriction_site = '^GATC,G^ANTC'
    ligation_site = 'GATCGATC,GANTGATC,GANTANTC,GATCANTC'
    bin_size = '1000'

    skip_dist_decay = true
    skip_tads = true
    skip_compartments = true
    skip_mcool = true
    skip_multiqc = false

    split_fastq = true
    fastq_chunks_size = 15000000

    schema_ignore_params = "genomes,digest,cluster-options,grch38_assembly_name_short,data_dir,clusterOptions,project"
}

process {
    withName:get_valid_interaction {
        memory = 10.GB
    }
    withName:convert_to_pairs {
        cpus = 1
        memory = 1.GB
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
}
