// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/output/nfcore_rnaseq"
    output_dir = "${data_dir}/output/nfcore_rnaseq"

    nfcore_samplesheet = "${data_dir}/output/nfcore_rnaseq/pipeline_info/samplesheet.valid.csv"

    assembly_name = 'hg38'
    chrom_sizes = "${data_dir}/input/${assembly_name}/${assembly_name}.filtered.chrom.sizes"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/pyutils:1.0.0'
    withName:merge_bigwigs {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/wiggletools:1.2.11'
    }
}
