// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    nfcore_stage_dirs = "${data_dir}/scratch/nfcore_hic/*/"

    grch38_assembly_name_short = 'GRCh38'
    fasta = "${data_dir}/output/preprocessing/assemblies/${grch38_assembly_name_short}_genome_assembly.fna"

    output_dir = "${data_dir}/output/nfcore_hic"
}

process {
    container = 'docker://ghcr.io/paulsengroup/2022-david-hic/utils:1.0.1'
    withName:cooler_merge {
        container = 'docker://ghcr.io/paulsengroup/2022-david-hic/cooltools:0.5.1'
    }
    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2022-david-hic/cooltools:0.5.1'
    }
    withName:compress_bwt2pairs {
        container = 'docker://ghcr.io/paulsengroup/2022-david-hic/samtools:1.16.1'

    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    autoMounts = true
}
