// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/scratch/nfcore_hic"
    output_dir = "${data_dir}/output/nfcore_hic"

    nfcore_samplesheet = "${input_dir}/samplesheet/samplesheet.valid.csv"

    assembly_name = 'hg38'
    fasta = "${data_dir}/input/${assembly_name}/${assembly_name}.fa"
    chrom_sizes = "${data_dir}/input/${assembly_name}/${assembly_name}.filtered.chrom.sizes"
    blacklist = "${data_dir}/input/${assembly_name}/${assembly_name}_blacklist.bed.gz"
    resolutions = [1000, 2000, 5000, 10000, 20000, 50000, 100000, 200000, 500000, 1000000, 2000000, 5000000, 10000000]

    plot_pretty_labels = 'MCF10A rep.1,MCF10A rep.2,MCF10AT1 rep.1,MCF10AT1 rep.2,MCF10CA1a rep.1,MCF10CA1a rep.2'
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/utils:1.0.1'
    withName:cooler_cload {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/cooltools:0.5.4'
    }
    withName:cooler_merge {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/cooltools:0.5.4'
    }
    withName:cooler_to_hic {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hic-balancing:1.0.0'
        memory  = 100.GB
    }
    withName:cooler_zoomify {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/cooltools:0.5.4'
    }
    withName:cooler_balance {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hic-balancing:1.0.0'
        memory  = 350.GB
    }
    withName:compress_bwt2pairs {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/samtools:1.17'
    }
    withName:plot_stats {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
    }
}
