// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir_merged = "${data_dir}/output/cliques/merged"
    output_dir_merged = "${data_dir}/output/cliques/merged"
    input_dir_repl = "${data_dir}/output/cliques/repl"
    output_dir_repl = "${data_dir}/output/cliques/repl"

    cliques_cis_merged = [
        ['MCF10A_WT', "${input_dir_merged}/cliques/hg38_001_MCF10A_WT_cis_cliques.tsv.gz"],
        ['MCF10A_T1', "${input_dir_merged}/cliques/hg38_002_MCF10A_T1_cis_cliques.tsv.gz"],
        ['MCF10A_C1', "${input_dir_merged}/cliques/hg38_003_MCF10A_C1_cis_cliques.tsv.gz"]
    ]

    domains_cis_merged = [
        ['MCF10A_WT', "${input_dir_merged}/cliques/hg38_001_MCF10A_WT_cis_domains.bed.gz"],
        ['MCF10A_T1', "${input_dir_merged}/cliques/hg38_002_MCF10A_T1_cis_domains.bed.gz"],
        ['MCF10A_C1', "${input_dir_merged}/cliques/hg38_003_MCF10A_C1_cis_domains.bed.gz"]
    ]

    cliques_cis_repl = [
        ['MCF10A_WT_REP1', "${input_dir_repl}/cliques/hg38_001_MCF10A_WT_REP1_cis_cliques.tsv.gz"],
        ['MCF10A_WT_REP2', "${input_dir_repl}/cliques/hg38_002_MCF10A_WT_REP2_cis_cliques.tsv.gz"],
        ['MCF10A_T1_REP1', "${input_dir_repl}/cliques/hg38_003_MCF10A_T1_REP1_cis_cliques.tsv.gz"],
        ['MCF10A_T1_REP2', "${input_dir_repl}/cliques/hg38_004_MCF10A_T1_REP2_cis_cliques.tsv.gz"],
        ['MCF10A_C1_REP1', "${input_dir_repl}/cliques/hg38_005_MCF10A_C1_REP1_cis_cliques.tsv.gz"],
        ['MCF10A_C1_REP2', "${input_dir_repl}/cliques/hg38_006_MCF10A_C1_REP2_cis_cliques.tsv.gz"],
    ]

    domains_cis_repl = [
        ['MCF10A_WT_REP1', "${input_dir_repl}/cliques/hg38_001_MCF10A_WT_REP1_cis_domains.bed.gz"],
        ['MCF10A_WT_REP2', "${input_dir_repl}/cliques/hg38_002_MCF10A_WT_REP2_cis_domains.bed.gz"],
        ['MCF10A_T1_REP1', "${input_dir_repl}/cliques/hg38_003_MCF10A_T1_REP1_cis_domains.bed.gz"],
        ['MCF10A_T1_REP2', "${input_dir_repl}/cliques/hg38_004_MCF10A_T1_REP2_cis_domains.bed.gz"],
        ['MCF10A_C1_REP1', "${input_dir_repl}/cliques/hg38_005_MCF10A_C1_REP1_cis_domains.bed.gz"],
        ['MCF10A_C1_REP2', "${input_dir_repl}/cliques/hg38_006_MCF10A_C1_REP2_cis_domains.bed.gz"],
    ]


    labels_merged = ['MCF10A', 'MCF10AT1', 'MCF10CA1a']
    labels_repl = ['MCF10A_REP1', 'MCF10A_REP2', 'MCF10AT1_REP1', 'MCF10AT1_REP2', 'MCF10CA1a_REP1', 'MCF10CA1a_REP2']

    mask = "${data_dir}/input/translocations/hg38_MCF10A_merged_translocations.bed"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
}
