// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/output/cliques"
    output_dir = "${data_dir}/output/cliques"

    cliques_cis = "${input_dir}/*_cis_cliques.tsv.gz"
    cliques_trans = "${input_dir}/*_trans_cliques.tsv.gz"
    cliques_all = "${input_dir}/*_all_cliques.tsv.gz"

    cliques_cis_wt = "${input_dir}/aggregate_on_wt/*_cis_cliques.tsv.gz"
    cliques_trans_wt = "${input_dir}/aggregate_on_wt/*_trans_cliques.tsv.gz"
    cliques_all_wt = "${input_dir}/aggregate_on_wt/*_all_cliques.tsv.gz"

    labels = ['MCF10A', 'MCF10AT1', 'MCF10CA1a']
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
}
