// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/preprocessing"

    grch38_assembly_name_short = 'GRCh38'
    grch38_assembly_name = "${grch38_assembly_name_short}.p14"
    grch38_assembly_name_long = "GCF_000001405.40_${grch38_assembly_name}"

    grch38_assembly_report = "${input_dir}/${grch38_assembly_name_short}/${grch38_assembly_name_short}_assembly_report.txt.gz"
    grch38_genome_assembly = "${input_dir}/${grch38_assembly_name_short}/${grch38_assembly_name_short}_genome_assembly.fna.gz"

    microarray_cnvs = "${input_dir}/NCBI35/microarrays/GSE19920_MCF10A_series_cnvs.txt.gz"
    microarray_probe_dbs = "${input_dir}/NCBI35/microarrays/affymetrix_probes_mapping250K_{Nsp,Sty}.tsv.gz"
    hg17_to_hg38_liftover_chain = "${input_dir}/NCBI35/liftover/hg17_to_hg38.over.chain.gz"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/utils:1.0.1'
    withName:run_bowtie2_index {
        container = 'nfcore/hic:1.3.0'
    }
    withName: process_microarray_data {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/microarray_analysis:1.0.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
