// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/tad_analysis"

    mcools = "${data_dir}/output/nfcore_hic/mcools/*.mcool"
    norm_methods = "ICE,KR,SCALE,GW_ICE,GW_KR,GW_SCALE"

    repl_pretty_labels = 'MCF10A rep.1,MCF10A rep.2,MCF10AT1 rep.1,MCF10AT1 rep.2,MCF10CA1a rep.1,MCF10CA1a rep.2'
    cond_pretty_labels = 'MCF10A,MCF10AT1,MCF10CA1a'

    assembly_gaps = "${data_dir}/input/GRCh38/GRCh38_assembly_gaps.txt.gz"
    cytoband = "${data_dir}/input/GRCh38/GRCh38_cytoband.txt.gz"

    resolutions = "10000,20000,50000,100000,500000"
}

process {
    container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/utils:1.0.1'
    withName:generate_blacklist {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/bedtools:2.30.0'
    }
    withName:apply_normalization_to_coolers {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/cooltools:0.5.4'
    }
    withName:hicexplorer_find_tads {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/hicexplorer:3.7.2'
    }
    withName:generate_tad_report {
        container = 'ghcr.io/paulsengroup/2022-mcf10a-cancer-progression/plotting:1.0.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
