// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/tad_analysis"
    script_dir = '/scripts'

    mcools = "${data_dir}/output/nfcore_hic/mcools/*.mcool"

    resolution = 50000
    insulation_windows = '250000 300000 350000 400000 450000 500000'
}

process {
    container = 'ghcr.io/paulsengroup/2022-david-hic/utils:1.0.1'
    withName:cooltools_insulation {
        container = 'ghcr.io/paulsengroup/2022-david-hic/cooltools:0.5.2'
   }
    withName:cooltools_directionality {
        container = 'ghcr.io/paulsengroup/2022-david-hic/cooltools:0.5.2'
   }
    withName:hicexplorer_find_tads {
        container = 'ghcr.io/paulsengroup/2022-david-hic/hicexplorer:3.7.2'
   }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts:${params.script_dir}:ro"
}
